.bundle
config/database.yml
vendor/bundle/
vendor/ruby
db/*.sqlite3
log/*.log
tmp/**/*
capybara*
*.sw*
.rvmrc
public/stylesheets/compiled/*
coverage/
public/system
db/seeds.rb
.DS_Store
tags
node_modules
.sass-cache/*
spec/reports
*.gem

spec/internal/public/system
