.week_pagination
  .date_pagination
    .row-fluid
      .span
        = link_to t(:previous_week).html_safe,
            admin_weekly_time_report_path((start_date - 1.week).beginning_of_week)
      .span2 &nbsp;
      .span.last
        - if start_date < Date.current
          = link_to t(:next_week).html_safe,
            admin_weekly_time_report_path(start_date.next_week)
