html {
  background:
  -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #405466),
    color-stop(20%, #304659),
    color-stop(100%, #0a1824)
    );
    height:100%; }

body {
  font-family:'helvetica', 'arial', 'georgia', sans-serif;
  }  

#top-bar {
  height:116px;
  width:100%;
  background: 
  -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #d5d5d5),
    color-stop(90%, #e4e4e4),
    color-stop(100%, #d7d7d7)
 );
  background:
  -moz-linear-gradient(
    center bottom,
    rgb(120, 151, 159 ) 11%,
    rgb(228,228,228) 78%
); }

#top-bar-content {
  width:951px;
  height:116px;
  margin: 0 auto;}

h1 a {
  background:url(../images/logo.png) 0 0 no-repeat;
  display:block;
  height:116px;
  width:262px;
  text-indent:-9999em;
  }



 #nav-bar {
  width:100%;
  height:54px;
  background: 
  -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #75959d),
    color-stop(30%, #698891),
    color-stop(100, #5d7a82)
  
 );
  background:
   -moz-linear-gradient(
    center bottom,
    rgb(120, 151, 159 ) 11%,
    rgb(105,136,144) 78%
);
 
  border-bottom:1px solid #839ca2;
 } 

#nav {
  width:951px;
  margin:0 auto;
  height:54px;}

#nav .navigation ul {
  display:inline;}

#nav .navigation li {
  color:#fff;}

#nav .navigation li a {
  color:#fff; 
  text-decoration:none; 
  letter-spacing:.1em; 
  height:35px;
  width:100px;
  display:block;
  float:left;
  text-align:center;
  padding:16px 0 0 0;
  }

#nav .navigation li a:hover {
  background:
  -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #efefef),
    color-stop(100, #fefefe) );
  color:#37526b;
  border-bottom:4px solid #34545c;
  }

#main-content {
  background: #fff;
  width: 960px;
  margin:auto;
}
