- if current_user.try(:expanded_calendar)
  :javascript
    calendar_expansion_default = true; 
= javascript_include_tag 'application'
= javascript_include_tag "https://www.google.com/jsapi"
= yield :javascripts
:javascript
  $('.dropdown-toggle').dropdown()
