- if !current_user or !current_user.client
  = render_navigation(:level => 1)
- elsif current_user and current_user.client
  = render_navigation(:level => 1, :context => 'client')

- if current_user
  = render_navigation(:level => 1, :context => 'secondary')
