#ticket_states{:style => "float:left; border: 1px solid;"}
  %h3= state.to_s.humanize
  #ul
    -@project.tickets.for_state(state).each do |ticket|
      #li
        =link_to ticket, ticket
        -if ticket.peer_review? || ticket.user_acceptance?
          =button_to "<-", ticket_down_state_path(ticket), :method => :get
        =button_to "->", ticket_up_state_path(ticket), :method => :get
