#div{:id => "#{state.to_s}", :class => "bucket"}
  %span= state.to_s.humanize
  %hr
  %ul{:id => "#{state.to_s}_ul"}
    -@project.tickets.for_state(state).each do |ticket|
      %li{:id => ticket.id, :class => "#{state.to_s}_li"}
        =link_to ticket, ticket

