#div{:id => "#{state.to_s}", :class => "bucket"}
  %span= state.to_s.humanize
  %hr
  %ul{:id => "#{state.to_s}_ul"}
    -@project.tickets.for_state(state).each do |ticket|
      %li{:id => ticket.id, :class => "#{state.to_s}_li"}
        =link_to ticket, ticket
        %div{:class => "concealed", :style => "float: right; width: auto;"}
          =button_to "->", ticket_advance_state_path(ticket), :method => :post
        %div{:class => "concealed", :style => "float: left; width: auto;"}        
          -if ticket.peer_review? || ticket.user_acceptance?


