- if project
  %h3= "#{project.client},  #{project}"
  #effect.effect
  #ticketboard.ticketboard
    - Ticket.state_machine.states.keys.each do |state|
      = render :partial => "shared/ticketflow", :locals => { :project => project, :state => state }
  .clearfix

- content_for :javascripts do
  :javascript
    $(ticket_board_ready_function()); 
