/* --- Utility Methods ---*/

.caps {
  letter-spacing: 0.1em;
}

.allcaps {
  @extend .caps;
  text-transform: uppercase;
}

.smallcaps {
  @extend .caps;
  font-variant: small-caps;
}

.clear {
  clear:both;
}

html {
  height:100%;
  background: #1a3247;
  //-webkit-font-smoothing: antialiased;
}


html {
  background:#3d5262\0;
}

body {
  height:100%;
  background: #1a3247 no-repeat;
  @include linear-gradient(color-stops(#3f5365, #1a3247));
}

body {
  background: url('../../images/main_bg.jpg') repeat-x\0;
  background-color:#3d5263\0;
}





/*--- Site Styles ---*/


.yui3-u-1-2 {
  float:left;
}

.wrapper {
  margin: auto; /* center in viewport */
  width: 974px;
  &.full_width {
    width: 98%; 
  }
  #user_menu {
    float:right;
    padding: 4px 9px 0 0;
  }
}

.gradient_border_wrap {
  @include linear-gradient(color-stops(#ccc, #999));
  padding: 1px 0px;
  margin: 5px;
  .gradient_border_content {
    background:#eee;
    margin: 5px;
    padding: 10px 10px 15px 10px;
    p {
      font-size:1.1em;
      margin: 3px 0 4px 0;
      }
    ul {
      font-size:1.1em;
      li {
        padding: 0 0 8px 0;  
        }
      }
    ul.subnav {
      margin: 6px 0 0 0;
      li {
        list-style:none;
        display:inline;
        padding: 0 10px 0 0;
        a {
          text-decoration:none;
          background:#dfdfdf;
          padding: 5px 8px 5px 8px;
          border:1px solid #b2b2b2;
          &:hover {
            background:#505050;
            color:#ccc;
          }
        }  
      }
    }
    textarea {
      width:100%;
      height:250px;
      }
    }
  }

.gradient_border_wrap {
  background:#999\0;
}
.gradient_border_content {
  background:#efefefi\0;
}
p.gravatar {
  float:left;
  padding: 0 10px 0 0;
}

.login_form {
  margin: 20px 0 10px 10px;
  p {
    margin: 13px 0 3px 0;  
  }  
}

a {
  color:#45676f;
  &:hover {
    text-decoration:none;
    color:#6f8f98;
  }
}
h2 {
  font-size:2em;
  color:#97afb5;
  margin: 0 0 10px 10px;
  letter-spacing:.06em;
}
h3 {
  margin: 5px 0 9px 0px;
  font-size:1.5em;
  color:#384f62;
}
.dashboard_title {
  margin: 0 0 10px 10px;
  padding: 3px 0 2px 0;
}

#header {
  @include linear-gradient(color-stops(#d5d5d5, #e4e4e4 90%, #d7d7d7 100%));
  margin-bottom: 10px;
  h1 {
    height:116px;
    margin-bottom:0px;
    a {
      display:inline-block;
      height: 116px;
      width: 262px;
      span {
        display:none;
      }
    }
  }
  #nav {
    @include linear-gradient(color-stops(#75959d, #698891 30%, #5d7a82 100%));
    height:54px;
    border-bottom:1px solid #839ca2;
    ul {
      margin:0;
      li {
        list-style-type: none;
        display: inline;
        font-size:1.1em;
        padding: 0 10px 0 10px;
        a {
          color:#fff;
          text-decoration: none;
          text-align: center;
          display: inline-block;
          letter-spacing:.1em; 
          height:32px;
          width:100px;
          padding:19px 0 0 0;
          &:hover {
            color:#37526b;
            border-bottom:4px solid #34545c;
            @include linear-gradient(color-stops(#efefef, #fefefe));
          }
        }
      }
    }
  }
}

#header {
  background: url('../../images/top_bg.jpg') repeat-x\0;  
}

#nav {
  background: url('../../images/nav_bg.jpg') repeat-x\0;
  ul {
    li {
      a {
        &:hover {
          background:#fff\0;
          border:none\0;
        }
      }
    }
  }
}



#footer {
  margin-top: 15px;
  .wrapper {
    border-top: 1px solid #4b6378;
    width:966px;
    p {
     color:#4b6378;
     float:right;
     font-size:1.2em;
     padding: 6px 0 0 0;
    }
  }
}
h4.dashboard_title {
  font-size:1.4em;
  margin: 0 0 10px 10px;
}

#new_ticket, #new_work_unit {
  padding:0 0 0 10px;
  span {
    width:120px;
    float:left;
    color:#373737;
    font-size:1em;
    margin: 0 20px 0 0;
  input {
    width:100px;
    float:right;
    }
  }
  .ticket_field, .work_unit_field {
    margin: 0 0 10px 0;
    label {
      width:100px;
      float:left;
    }
    select {
      width:250px;
    }
  }
  .add_new_button {
    margin: 0 0 0 100px;
  }
  textarea {
    width:250px;
    height:100px;
  }
}

.calendar table {
  border: 1px solid #ccc;
  width:100%;
  font-size:1.1em;
  margin: 5px 0 15px 0;
  padding: 0 10px 0 0;
  td {
    border: 1px solid #ccc;
    padding: 9px 5px 9px 10px;
    width: 12.5% !important;
    li {
      font-size:.9em;
    }
  }
  th {
    width: 12.5% !important;
    border: 1px solid #ccc; 
    padding: 5px 5px 5px 10px;
    font-weight:normal;
    font-size:1.1em;
    color:#f2f1f1;
    @include linear-gradient(color-stops(#9fa8aa, #acbabd));
    a.expand {
      float: right;
      text-decoration: none;
    }
    a.contract {
      float: right;
      text-decoration: none;
    }
  }
  tbody {
    @include linear-gradient(color-stops(#fff, #ececec));
  }
  .calendar_foot {
    @include linear-gradient(color-stops(#f7f7f7, #fff));
  }
  a {
    color:#45676f;
    &:hover {
      text-decoration:none;
      color:#6f8f98;
    } 
  }
  .work_unit {
    .description {
      display: none;
    }
  }
}

.work_unit{
  &.overtime, &.overtime a {
    color: red;
  }
  &.cto, &.cto a {
    color: #369; 
  }
  &.pto, &.pto a {
    color: #33840c; 
  }
}

#client table th, .gradient_border_content table th, #calendar th, .users th, .clients th {
  background:#577084\0;
}

.week_pagination {
  height: 10px;
  position:relative;
  .previous_week {
    position: absolute;
    top: 0;
    left: 0;
  }
  .today {
    display: inline-block;
    width: 100%;
    text-align:center;
  }
  .next_week {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.new_user .add_new_button {
  float:right;
  margin: 5px 10px 0 10px;   
}
.add_new_button {
  background:#72939c;
  margin:5px 0 0 0;
  padding: 3px 5px 3px 5px;
  color:#fff;
  border:1px solid #9eabb2;
  text-decoration:none;
  font-size:1.1em;
  &:hover {
    background:#5b686f;
    color:#ccc;
  }
}
.cancel_button {
  background:#694e4e;
  padding: 4px 5px 4px 5px;
  color:#fff;
  border:1px solid #9eabb2;
  text-decoration:none;
  font-size:1.1em;
  float:left;
  margin: 5px 10px 0 0;
  &:hover {
    background:#462626;
    color:#ccc;
  }
}
.new_user {
  width:400px;
  label {
    float:left;
    width:150px;
    margin: 0 20px 7px 0;
    font-size:1.1em;  
    text-align:right;
  }
  input {
    margin: 0 0 7px 0;
  } 
}

.edit_user {
  width:400px;
  label {
    float:left;
    width:150px;
    margin: 0 20px 7px 0;
    font-size:1.1em;  
    text-align:right;
  }
  .add_new_button {
    float:right; 
    margin: 5px 10px 0 10px;
  }
  input {
    margin: 0 0 7px 0;
  } 
}

#new_client {
  width:350px;
  label {
    width:100px;
    float:left;
    margin: 0 20px 7px 0;
    font-size:1.1em;
    text-align:right;    
  }
  input {
    margin: 0 0 7px 0;
  }
  .add_new_button {
    float:right;
    margin: 5px 10px 0 10px;
  }
  .actions {
    margin: 10px 0 0 0;
  }
}
.edit_client {
  .work_unit_field {
    margin: 0 0 10px 0;
  }
}
.edit_work_unit {
  .field, .actions {
    margin: 10px 0 0 0;
  } 
}

table.invoice {
  width:100%;
  th {
    font-weight:bold;
  }
  th.invoice_th {
    width:170px;
  }
  th.overtime {
    width:35px;
  }
  th.hours {
    width:40px;
  }
  th.scheduled_on {
    width:100px;
  }
  th.assigned_to {
    width:100px;
  }
  .payroll_check {
    width:105px;
  }
  td.totals {
    padding: 10px 0 10px 10px;
    font-weight:bold;
    background:#a4abae;
  }
}
div.autofill input{
  width:60px;
  float:right;
  margin: 0 15px 0 0;
}
.invoice_submit {
  float:right;
  background:#72939c;
  padding: 0px 5px 0px 5px;
  color:#fff;
  border:1px solid #9eabb2;
  text-decoration:none;
  font-size:1.1em;
  margin: 0 10px 0 0;
  &:hover {
    background:#5b686f;
    color:#ccc;
  } 
}
#global_invoiced {
  float:right;
  width:60px;
  margin: 0 10px 0 0;
}
#autofill_client_1 {
  float:right;
  width:60px;
  margin: 0 10px 0 0;
}
.autofill_client_1 {
  float:right;
  width:60px;
  margin: 0 10px 0 0;
}
.ticket_invoiced {
  width:60px;
  float:right;
}
.ticket_invoiced_1 {
  width:60px;
  float:right;
}
.hasDatepicker {
  width:85px;
  float:left;
}

table {
  
  font-size:1.1em;
  border:1px solid #ccc;
  margin: 10px 0 10px 0;
  pre {
    width:100px;
    
  }
  thead th {
    border: 1px solid #ccc; 
    padding: 5px 10px 5px 10px;
    font-weight:normal;
    font-size:1.1em;
    color:#f2f1f1;
    @include linear-gradient(color-stops(#9fa8aa, #acbabd));
    }
  tfoot th {
    border:1px solid #ccc;
    padding: 9px 5px 9px 10px;
  }
  tr.odd {
    background:#e1e7ea;
  }
  tr.even {
    background:#fff;
  }
  tr.odd.suspended, tr.odd.inactive {
    background:#c66;
  }
  tr.even.suspended, tr.even.inactive {
    background:#f66;
  }
  td {
    border:1px solid #ccc;
    padding: 9px 10px 9px 10px;
    ul {
      margin:0; 
      li {
        list-style:none;
      }
    }
  }
}
table.users {
  td.user_img {
    img {
      float:left;
    }
    a span {
      float:left;
      padding: 30px 0 0 7px;
      text-decoration:underline;    
    }
  }
}

table.invoice {
  tr.odd.overtime, tr.odd.future {
    background:#c99;
    color: #000;
  }
  tr.even.overtime, tr.even.future {
    background:#f99;
    color: #000;
  }
  tr.even.cto {
    background: #99c;
  }
  tr.odd.cto {
    background: #99f;
  }
  tr.even.pto {
    background: #9c9;
  }
  tr.odd.pto {
    background: #9f9;
  }
}

ul {
  margin-left: 15px;
  li {
    list-style: disc;
  }
}

.clear {
  clear:both;
}

.future {
  color: red;
}

#help {
  display: none;
}
