* + html {
  background:#3d5263;
}

* + html body {
  background: url('../../images/main_bg.jpg') repeat-x;
  background-color:#3d5263;
}

* + html .gradient_border_wrap {
  background:#999;
}

* + html .gradient_border_content {
  background:#efefef;
}

* + html #header {
  background: url('../../images/top_bg.jpg') repeat-x;  
  #nav {
    background: url('../../images/nav_bg.jpg') repeat-x;
    ul {
      li {
        a {
          height:35px;
          &:hover {
            background:#fff;
            border:none;
          }
        }
      }
    }
  }
}

* + html #nav {
  background: url('../../images/nav_bg.jpg') repeat-x;
  ul {
    li {
      a {
        &:hover {
          background:#fff;
          border:none;
        }
      }
    }
  }
}

* + html #client table th, .gradient_border_content table th, #calendar th, .users th, .clients th {
  background:#34495c;
}
