%div
  - if file_attachment.not_valid?
    %li.invalid_file_attachment= link_to file_attachment.attachment_file_file_name, file_attachment_path(file_attachment.id)
  - else
    %li= link_to file_attachment.attachment_file_file_name, file_attachment_path(file_attachment.id)
  = button_to "Mark as invalid", { :controller => 'file_attachments', :action => 'mark_as_invalid', :id => file_attachment.id }, :confirm => "Mark attachment as invalid?"

