%h2 Project Dashboard

#tickets
  .lanes.row
    .span3
      .bucket
        %span Fridge
        %hr
        %ul.unstyled.fridge
    .span3
      .bucket
        %span Development
        %hr
        %ul.unstyled.development
    .span3
      .bucket
        %span Peer Review
        %hr
        %ul.unstyled.peer_review
    .span3
      .bucket
        %span User Acceptance
        %hr
        %ul.unstyled.user_acceptance
    .span3
      .bucket
        %span Archived
        %hr
        %ul.unstyled.archived

- content_for :javascripts do
  :coffeescript
    App.Tickets = new Tickets({el: $("#tickets"), project_id: #{@project.id}})
