.progress_container{
  background: linear-gradient(#fafafa, #fff);
  position: absolute;
  left: -335px;
  top: 60px;
  transition: all .5s;
  padding: 1em;
  border-right: #ccc;
  box-shadow: 2px 2px 2px #bbb;
  z-index: 1000;
  &.active, &.open{
    left: 0;
    transition: all .5s;
  }
  .date_pagination{
    .row-fluid{
      margin: 1em 0;
      div.span{
        display: inline;
        float: none;
        margin: 0;
        a{
          display: inline;
          padding: .5em;
        }
      }
    }
  }

}
#progress_trigger{
  position: relative;
  transition: all .5s;
  border: 1px solid #aaa;
  padding: 1em;
  font-size: 1.15em;
  color: #666;
  background-color: #f9f9f9;
  border-radius: 8px;
  font-weight: 600;
  left: 0px;
  &.active{
    left: 335px;
    transition: all .5s;
  }
  &:hover{
    background-color: #ddd;
  }
}
