/*
 *= require bootstrap_and_overrides
 *= require chosen
 *= require _jquery-ui-1.8.16.custom
 *= require css3-progress-bar
*/

@import "compass";
@import "compass/css3";

//** SCREEN STYLES **//

table {
  font-size: 1em;
  margin-top: 10px;
}
.calendar{
  table{
    td{
      overflow: hidden;
    }
    tfoot{
      td{
        border-bottom: 1px solid #eee;
      }
    }
    tbody {
      tr {
        td {
          ul {
             li {
              a {
                font-size: .9em;
              }
             }
          }
        }
      }
    }
  }
  .work_unit {
    .description {
      display: none;
      font-size: .8em;
    }
  }
}
.btn-group {
  display:inline-block;
}
#add_ticket, #new_work_unit {
  .actions {
    input {
      float:right;
      margin: 0 118px 0 0;
    }
  }
  .field_row {
    width: 100%;
    margin: 0 0 10px 0;
    label.hidden_clients {
      width: auto;
      margin: 0 0 0 10px;
    }
    label {
      display: inline-block;
      width: 115px;
      margin: 0 5px 0 0;
      text-align:right;
      vertical-align: top;
    }
    .input.left {
      margin-left:100px;
    }
    .input {
      display: inline-block;
      vertical-align: top;
    }
  }
}
.work_unit{
  &.overtime, &.overtime a {
    color: #C43C35;
  }
  &.cto, &.cto a {
    color: #F89406;
  }
  &.pto, &.pto a {
    color: #46A546;
  }
}

input {
  height: 26px;
  line-height: auto;
}
table.invoice {
  td.totals {
    width: 100%;
    textarea {
      width:100%;
    }
  }
}
body div.container-fluid div.row div.span16 div input#global_invoiced {
  float:right;
}

body div.container-fluid div.row div.span16 div form table.invoice tfoot tr td textarea {
  width:100%;
}
div.navbar div.fill div.container-fluid ul.nav {
  margin: 10px 10px 0 0;
  li {
    a {
      color:#fff;
    }
  }
}

.navbar{
  @include single-box-shadow;
  .primary-nav{
    li{
      a{
        @include border-radius(8px);
        &:hover {
          background-color: #75959d;
        }
        margin-left: 2px;
        margin-right: 2px;
      }
    }
    li.selected{
      a{
        background-color: #5d7a82;
        color: white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.024) inset;
      }
    }
  }
  .fill .container-fluid li.dropdown{
    a.dropdown-toggle{
      padding: 0 4px 0 0;
    }
    span{
      position: relative;
      top: -10px;
      padding: 4px;
    }
    b.caret{
      position: relative;
      top: 4px;
    }
    ul.dropdown-menu{
      li{
        a{
          color: #75959d;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

.navbar-fixed-top{
  a{
    color: #ddd;
  }
  .fill{
    padding: 6px 0;
    @include linear-gradient(color-stops(#75959d, #698891 30%, #5d7a82 100%));
  }
}

tfoot{
  border-top: 2px solid #bbb;
}

footer.footer{
  text-shadow: 0 1px 0 #ffffff;
  width: auto;
  .container-fluid p {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #e5e5e5;
  }
}
h3 {
  margin: 10px 0 5px 0;
}
.right {
  float:right;
}
.topbar{
  .brand{
    padding: 0;
  }
}

.week_pagination{
  background-color: #f9f9f9;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  @include border-radius(5px);
  .date_pagination{
    .span.center{
      text-align: center;
    }
    .span.first{
      text-align: left;
      float:left;
    }
    .span.last{
      text-align: right;
      float:right;
    }
    a{
      display: inline-block;
      padding: 1em;
    }
  }
}

.module{
  background-color: #f9f9f9;
  @include border-radius(8px);
  padding: 8px;
  form{
    margin-bottom: 0;
    fieldset{
      margin-bottom: 0;
      .actions{
        margin-bottom: -8px;
        margin-right: -8px;
        margin-left: -8px;
        @include border-radius(0 0 8px 8px);
      }
    }
  }
}

#schedule_modal_link{
  position: relative;
  top: 0;
}

body div.container-fluid div.row div.span16 p.ticket_metrics {
  text-align:center;
}

.normal {
  color: #808080;
}

.pto {
  color: #46A546;
}

.overtime {
  color: #C43C35;
}

.cto {
  color: #F89406;
}

@import "responsive";
