/*
 *= require bootstrap
 *= require chosen
 *= require _jquery-ui-1.8.16.custom
*/

@import "compass";
@import "compass/css3/border-radius";

//** SCREEN STYLES **//
body{
  padding-top: 60px;
}

.calendar{
  table{
    td{
      overflow: hidden;
    }
    tfoot{
      td{
        border-bottom: 1px solid #eee;
      }
    }
  }
  .work_unit {
    .description {
      display: none;
      font-size: .8em;
    }
  }
}

.work_unit{
  &.overtime, &.overtime a {
    color: #C43C35;
  }
  &.cto, &.cto a {
    color: #F89406;
  }
  &.pto, &.pto a {
    color: #46A546;
  }
}

input[type=text], input[type=password]{
  height: 26px;
  line-height: auto;
}

ul.nav{
  li{
    a{
      @include border-radius(8px);
      &:hover{
        background-color: #75959d;
      }
      margin-left: 2px;
      margin-right: 2px;
    }
  }
  li.selected{
    a{
      background-color: #5d7a82;
      color: white;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.024) inset;
    }
  }
}

.topbar{
  a{
    color: #ddd;
  }
  .fill{
    padding: 6px 0;
    @include linear-gradient(color-stops(#75959d, #698891 30%, #5d7a82 100%));
    @include box-shadow;
  }
}

tfoot{
  border-top: 2px solid #bbb;
}

footer.footer{
  border-top: 1px solid #e5e5e5;
  background-color: #eeeeee;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.024) inset;
  padding: 30px 0;
  text-shadow: 0 1px 0 #ffffff;
}

.topbar{
  .brand{
    padding: 0;
  }
}

.week_pagination{
  background-color: #f9f9f9;
  border-width: 1px 0;
  border-color: #ddd;
  border-style: solid;
  .date_pagination{
    .span2{
      text-align: center;
    }
    .span7.last{
      text-align: right;
    }
    a{
      display: inline-block;
      padding: 1em;
    }
  }
}

.nav.secondary-nav{
  li#edit_user{
    a{
      padding-top: 4px;
      padding-bottom: 0;
    }
    img{
      margin-right: 10px;
    }
    span{
      position: relative;
      top: -10px;
    }
  }
}

.twipsy{
  font-size: 13px;
}

.module{
  background-color: #f9f9f9;
  @include border-radius(8px);
  padding: 8px;
  form{
    margin-bottom: 0;
    fieldset{
      margin-bottom: 0;
      .actions{
        margin-bottom: -8px;
        margin-right: -8px;
        margin-left: -8px;
        @include border-radius(0 0 8px 8px);
      }
    }
  }
}

#schedule_modal_link{
  position: relative;
  top: 8px;
}
