#search-box{
  @include vendor-prefix(box-sizing, border-box);
  background-color: lighten($lightFrames, 10%);
  width: 59%;
  min-width: 300px;
  border: 1px solid $lightFrames;
  border-radius: 0 0 20px;
  margin-top: -15.5em;
  margin-bottom: 2em;
  padding: 1em;
  @include vendor-prefix(transition, ease all 1s);
  position: relative;
  &.open{
    @include vendor-prefix(transition, ease all 1s);
    margin-top: -0.9em;
    h2:after{
      @include vendor-prefix(transform, rotate(180deg));
      @include vendor-prefix(transition, ease all 1s);
    }
  }
  h2{
    background-color: lighten($lightFrames, 10%);
    border-radius: 0 0 20px 20px;
    border-style: solid;
    border-color: $lightFrames;
    border-width: 0 1px 1px;
    cursor: pointer;
    width: auto;
    position: absolute;
    bottom: -45px; 
    left: -1px;
    color: $linkColor;
    padding: 0.2em 0.5em;
    font-size: 1.5em;
    font-weight: lighter;
    &:after{
      content: " ";
      display: inline-block;
      border-right: 5px solid rgba(0, 0, 0, 0);
      border-left: 5px solid rgba(0, 0, 0, 0);
      border-top: 10px solid $linkColor;
      height: 0;
      margin: 17px 5px 0px 10px;
      width: 0;
      @include vendor-prefix(transform, rotate(0deg));
      @include vendor-prefix(transition, ease all 1s);
    }
  } 
  label, input, select{
    display: inline-block;
    background-color: transparent;
  }
  label{
    width: 35%;
    color: $linkColor;
    font-size: 1.5em;
    text-align: right;
    text-shadow: 0 0 5px #fff;
    padding-right: 1%;
  }
  input, select{
    width: 63%;
    border: 1px solid $linkColor;
    border-radius: 10px;
    }
  .form-button{
    font-size: 2em;
    margin-left: 36.5%;
    background-color: $contrastColor;
    color: lighten($contrastColor, 90%);
    text-shadow: 0 0 5px darken($contrastColor, 90%);
    @include vendor-prefix(transition, ease all 1s);
    &:hover{
      background-color: darken($contrastColor, 10%);
      @include vendor-prefix(transition, ease all 1s);
    }
  }
}
#work_unit_search{
  margin-bottom: 0;
  table.work_units{
    margin-bottom: 0;
  }
}
.pagination{
  margin-top: 0;
  text-align: center;
  span{
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: $lightFrames;
    display: inline-block;
    padding: 0;
    &:hover{
      background-color: lighten($lightFrames, 10%);
    }
    &.current, &.gap{
      padding: .6em 1em;
    }
    &.current{
      background-color: lighten($lightFrames, 10%);
    }
    &:first-child{
      border-left: 1px solid $lightFrames;
      border-radius: 0 0 0 20px;
    }
    &.last{
      border-width: 0 1px 1px 0;
      border-style: solid;
      border-color: $lightFrames;
      border-radius: 0 0 20px 0;
    }
    a{
      float: none;
      border: 0;
      padding: .5em 1em;
      margin: 0;
      &:hover{
        background-color: transparent;
      }
    }
  }
}
