.search-box{
  @include vendor-prefix(box-sizing, border-box);
  background-color: lighten($lightFrames, 10%);
  width: 80%;
  min-width: 300px;
  border: 1px solid $lightFrames;
  border-radius: 20px 0 20px 20px;
  margin: 1em auto;
  padding: 1em;
  position: absolute;
  h2{
    background-color: lighten($lightFrames, 10%);
    border-width: 1px 1px 0;
    border-style: solid; 
    border-color: $lightFrames;
    border-radius: 10px 10px 0 0;
    color: #FFFFFF;
    padding: 5px;
    position: absolute;
    right: -63px;
    text-shadow: 0 0 5px #BBBBBB;
    top: 19px;
    transform: rotate(90deg);
  }
  label, input, select{
    display: inline-block;
    width: 33%;
    background-color: transparent;
  }
  label{
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    text-shadow: 0 0 5px #bbb;
  }
  input, select{
    border: 1px solid $linkColor;
    border-radius: 10px;
    }
  .form-button{
    font-size: 2em;
    float: right;
    @include vendor-prefix(transition, ease all 1s);
    &:hover{
      background-color: $lightFrames;
      @include vendor-prefix(transition, ease all 1s);
    }
  }
  &:after{
    content: " ";
    display: block;
    clear: both;
  }  
}
#work_unit_search{
  margin-bottom: 0;
  table.work_units{
    margin-bottom: 0;
  }
}
.pagination{
  margin-top: 0;
  text-align: center;
  span{
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: $lightFrames;
    display: inline-block;
    padding: 0;
    &:hover{
      background-color: lighten($lightFrames, 10%);
    }
    &.current, &.gap{
      padding: .6em 1em;
    }
    &.current{
      background-color: lighten($lightFrames, 10%);
    }
    &:first-child{
      border-left: 1px solid $lightFrames;
      border-radius: 0 0 0 20px;
    }
    &.last{
      border-width: 0 1px 1px 0;
      border-style: solid;
      border-color: $lightFrames;
      border-radius: 0 0 20px 0;
    }
    a{
      float: none;
      border: 0;
      padding: .5em 1em;
      margin: 0;
      &:hover{
        background-color: transparent;
      }
    }
  }
}

